/* Application Menu Styles */

.app-menu {
	margin: 10px 0;
}

.app-menu .caption {
	margin-top: 0.5em;
	padding: 0.4em 0.8em;
	font-weight: bold;
	color: #444;
}

.app-menu .menu-item, 
.app-menu core-submenu::shadow core-item {
	cursor: pointer;
	position: relative;
	padding: 0.2em 0.8em;
	margin: 0;
	background: #FFFFFF;
	color: #333;
	font-size: 1.0em;
	font-weight: normal;
}

.app-menu .menu-item::shadow core-icon,
.app-menu core-submenu::shadow core-item::shadow core-icon {
	color: #666;
}
.app-menu .menu-item paper-fab,
.app-menu core-submenu paper-fab.item-content {
	display: block;
	position: absolute;
	right: 0.8em;
	top: 50%;
	margin-top: -12px;
	padding: 3px;
	width: 24px;
	height: 24px;
	font-size: 0.8em;
	background: #F29087;
}

.app-menu .menu-item paper-fab:hover,
.app-menu .menu-item paper-fab.selected,
.app-menu core-submenu paper-fab.item-content:hover,
.app-menu core-submenu paper-fab.item-content.selected {
	background: #d23f31;
}

.app-menu .menu-item paper-fab /deep/ core-icon,
.app-menu core-submenu paper-fab.item-content /deep/ core-icon {
	width: 18px;
	height: 18px;
}
.app-menu .menu-item:hover, 
.app-menu core-submenu::shadow core-item:hover {
	color: #5b9bd1;
	background: #f2f6f9;
}

.app-menu .menu-item.core-selected,
.app-menu core-submenu.core-selected::shadow core-item{
	background: #f2f6f9;
	color: #407fb2;
	font-weight: bold;
}
.app-menu .menu-item.core-selected::shadow core-icon {
	color: #407fb2;
}

.app-menu core-submenu::shadow core-menu#submenu {
	margin: 0;
	padding: 0;
}

.app-menu core-submenu .submenu-item {
	margin: 0;
	padding: 0 0 0 44px;
	color: #555;
	cursor: pointer;
}

.app-menu core-submenu .submenu-item:hover {
	background: #eeeeee;
}
